@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 15px;
  border: none;
  color: white;
}

.R-commander {
  padding: 15px 30px;
  margin: 30px 0px 50px 35%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.fa-arrow-left {
  margin-left: 20px;
}

.invisible {
  color: #F6F6F6;
}

footer {
  padding: 0px 20px;
  background-color: #353535;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
ul li p {
  color: white;
}
ul li .fas {
  margin-right: 5px;
}

h1, h2, h3 {
  font-family: "Shrikhand", "sans serif";
}

body {
  font-family: "Roboto", "Comic sans ms";
  background-color: #F6F6F6;
  margin: 0;
}

a {
  text-decoration: none;
}

.les-restaurants {
  margin: 0px 10px;
}

.debut {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.debut__lieu {
  flex-direction: row;
  width: 100%;
  box-shadow: 0px -1px 0px 2px #D3D3D3;
  background-color: #EAEAEA;
}
.debut__lieu input {
  background-color: inherit;
  border: none;
  font-weight: bolder;
  padding: 15px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #E0E0E0;
  overflow: hidden;
  text-align: start;
  margin-bottom: 20px;
}
.restaurant__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 25px;
}
.restaurant__detail h3, .restaurant__detail p {
  margin: 0;
}
.restaurant__detail__plat {
  display: flex;
  flex-direction: column;
}
.restaurant img {
  height: 175px;
  object-fit: cover;
}

.fonctionnement {
  background-color: white;
  padding-bottom: 30px;
}
.fonctionnement--menu {
  margin: 0px 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.menu span {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 1px 5px;
  position: absolute;
  left: 3px;
}
.menu__fond {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  box-shadow: 6px 6px 6px #E0E0E0;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 100%;
}
.menu__fond .fas {
  margin: 0px 20px;
}
.menu__fond--violet {
  background-color: #e4d5f6;
}

.violet {
  color: #9356DC;
}

.R-restaurant-nom {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 150px;
  background-color: #F6F6F6;
  position: relative;
  top: -45px;
}

.R-img-restaurant {
  height: 270px;
  width: 100%;
  object-fit: cover;
}

article {
  display: flex;
  flex-direction: column;
  box-shadow: 6px 6px 6px #E0E0E0;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
}
article h3, article p {
  margin: 0px 0px 10px 10px;
}
article .R-detail-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.R-titre {
  text-transform: uppercase;
  border-bottom: #99E2D0 3px solid;
  width: 20%;
}

.R-sections {
  margin: 0px 10px;
}

/*# sourceMappingURL=style.css.map */
