@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-rotation {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes coeur {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes load-spinner {
  0%, 40%, 80% {
    transform: translateX(0) scale(0.5);
    opacity: 0.5;
  }
  20%, 60% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translateX(-9999px);
    opacity: 1;
  }
}
@keyframes apres-spinner {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 15px;
  border: none;
  color: white;
  box-shadow: 6px 6px 6px #E0E0E0;
}
button:hover {
  filter: brightness(115%);
  box-shadow: 6px 5px 20px #FF79DA;
}

.R-commander {
  display: block;
  padding: 15px 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 10px;
}

.fa-arrow-left {
  margin-left: 20px;
}

.invisible {
  width: 54px;
  height: 2px;
  color: #F6F6F6;
}

footer {
  padding: 0px 20px;
  background-color: #353535;
  color: white;
}
footer img {
  filter: invert(100%);
  width: 40%;
  margin: 15px 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
ul li p {
  color: white;
}
ul li .fas {
  margin-right: 5px;
}

.Shrikhand {
  font-family: 'Shrikhand', Arial, sans-serif;
}

body {
  font-family: 'Roboto', 'Comic sans ms', Arial, sans-serif;
  background-color: #F6F6F6;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.les-restaurants {
  margin: 0px 10px;
}

.debut {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.debut__lieu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  box-shadow: 0px -1px 0px 2px #D3D3D3;
  background-color: #EAEAEA;
}
.debut__lieu input {
  background-color: inherit;
  border: none;
  font-weight: bolder;
  padding: 15px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: normal;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #E0E0E0;
  overflow: hidden;
  text-align: start;
  margin-bottom: 20px;
}
.restaurant .restaurant-nouveau {
  position: relative;
}
.restaurant .restaurant-nouveau span {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 5px;
  color: #278870;
  font-weight: bolder;
  background-color: #99E2D0;
}
.restaurant__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px 20px 25px 20px;
}
.restaurant__detail h3, .restaurant__detail p {
  margin: 0;
}
.restaurant__detail__plat {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: normal;
}
.restaurant img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.fonctionnement {
  background-color: white;
  padding-bottom: 30px;
}
.fonctionnement--menu {
  margin: 0px 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.menu span {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 1px 5px;
  position: absolute;
  left: 3px;
}
.menu__fond {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  box-shadow: 6px 6px 6px #E0E0E0;
  background-color: #F6F6F6;
  border-radius: 15px;
  padding-right: 20px;
  width: 100%;
}
.menu__fond .fas {
  margin: 0px 30px;
}
.menu__fond:hover {
  background-color: #e4d5f6;
}
.menu__fond:hover .icone-violet {
  color: #9356DC;
}
.menu__fond p {
  font-weight: bolder;
}

.bouton__coeur {
  display: flex;
}
.bouton__coeur .heart {
  position: relative;
  overflow: hidden;
  color: black;
  opacity: 1;
}
.bouton__coeur .heart--rempli {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bouton__coeur:hover {
  cursor: pointer;
}
.bouton__coeur:hover .heart--rempli {
  animation: coeur 2s forwards;
  opacity: 1;
}

.ensemble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: normal;
}

.apres-spinner {
  max-width: 1500px;
  min-width: 355px;
  position: absolute;
  top: 0px;
  width: 100%;
  animation: apres-spinner 0ms 3s both;
}

.container--spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.spinner {
  position: relative;
}
.spinner--violet {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.1s;
  top: -40px;
  left: 0px;
  background-color: #9356DC;
}
.spinner--rose {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.4s;
  top: 20px;
  left: 20px;
  background-color: #FF79DA;
}
.spinner--vert {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.3s;
  top: 0px;
  left: 40px;
  background-color: #99E2D0;
}
.spinner--bleu {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.2s;
  top: -20px;
  left: 20px;
  background-color: #38c1fc;
}
.spinner--vi {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.5s;
  top: 40px;
  left: 0px;
  background-color: #9356DC;
}
.spinner--ro {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.8s;
  top: -20px;
  left: -20px;
  background-color: #FF79DA;
}
.spinner--ve {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.7s;
  top: 0px;
  left: -40px;
  background-color: #99E2D0;
}
.spinner--bl {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: load-spinner 3s both;
  animation-delay: 0.6s;
  top: 20px;
  left: -20px;
  background-color: #38c1fc;
}

.R-haut {
  position: relative;
}
.R-haut .R-restaurant-nom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  border-radius: 150px;
  background-color: #F6F6F6;
  position: absolute;
  top: 225px;
  width: 100%;
}
.R-haut .R-restaurant-nom h1 {
  font-size: 30px;
  margin-left: 10px;
}
.R-haut .R-restaurant-nom .fa-heart {
  margin-right: 20px;
}

.R-img-restaurant {
  height: 270px;
  width: 100%;
  object-fit: cover;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: normal;
  box-shadow: 6px 6px 6px #E0E0E0;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
}
article h3, article p {
  margin: 0px 0px 10px 10px;
}
article .R-detail-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: normal;
}
article .R-detail-menu--coupe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .R-detail-menu--prix {
  font-weight: bolder;
  margin-right: 20px;
}

.ensemble--restaurants {
  max-width: 1500px;
  min-width: 355px;
  width: 100%;
}

.R-titre {
  text-transform: uppercase;
  border-bottom: #99E2D0 3px solid;
  width: 15%;
  font-weight: normal;
}
.R-titre--entrees {
  margin-top: 40px;
}

.R-sections {
  margin: 0px 10px;
}

.R-sections {
  opacity: 0;
  animation: apparition 5s forwards 1s;
}
.R-sections--entrees {
  animation-delay: 0.5s;
}
.R-sections--plats {
  animation-delay: 1s;
}
.R-sections--desserts {
  animation-delay: 1.5s;
}

.R-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 0px;
  position: relative;
  width: 100%;
}
.R-article .R-detail {
  width: 100%;
}
.R-article:hover .R-detail {
  width: 80%;
}
.R-article:hover .R-detail-coche {
  width: 20%;
}
.R-article:hover .R-detail-coche .fa-check {
  animation-name: anim-rotation;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.R-detail-coche {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 0%;
  height: 62px;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.R-detail-coche .fa-check {
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
  padding: 4px;
}

@media (min-width: 576px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: normal;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: normal;
  }

  .heart + label {
    margin-right: -20px;
  }

  .les-restaurants a {
    width: 45%;
    margin: 10px;
  }

  .R-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: normal;
    margin-right: 20px;
  }
  .R-articles .R-article {
    width: 45%;
    margin: 10px;
  }

  .R-titre {
    width: 7%;
  }

  .les-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: normal;
    width: 100%;
  }
  .les-menus .menu span {
    position: relative;
    left: 10px;
  }
}
@media (min-width: 1190px) {
  .R-ensemble-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: normal;
  }
  .R-ensemble-sections .R-sections {
    width: 100%;
  }
  .R-ensemble-sections .R-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: normal;
    width: 100%;
  }
  .R-ensemble-sections .R-articles .R-article {
    width: 100%;
    margin: 10px 0px;
  }
  .R-ensemble-sections .R-titre {
    margin-top: 40px;
    width: 15%;
  }

  .les-restaurants a {
    width: 23%;
  }
}

/*# sourceMappingURL=style.css.map */
