footer{
    padding: 0px 20px;
    background-color: $couleur-fond-footer;
    color: white;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
        p{
            color: white;
        }
        .fas{
            margin-right: 5px;
        }
    }
}