@media (min-width: 576px)
{
    .restaurants{
        @include en-flex(row, space-around, normal, wrap);
    }
    ul{
        @include en-flex(row, space-between);
    }
    .heart + label {
        margin-right: -20px;
    }
    .les-restaurants{
        a{
            width: 45%;
            margin: 10px;
        }
    }
    .R-articles{
        @include en-flex(row, space-between, normal, wrap);
        margin-right: 20px;
        .R-article{
            width: 45%;
            margin: 10px;
        }
    }
    .R-titre{
        width: 7%;
    }
    .les-menus{
        @include en-flex(row, space-around, normal, wrap);
        width: 100%;
        .menu{
            
            span{
                position: relative;
                left: 10px;
            }
        }
    }
    
    
}
@media (min-width: 1190px){
    
    
    .R-ensemble-sections{
        @include en-flex(row, space-around);
        .R-sections{
            width: 100%;
        }
        .R-articles{
            @include en-flex(column, space-around, normal, wrap);
            width: 100%;
            .R-article{
                width: 100%;
                margin: 10px 0px;
            }
        }
        .R-titre{
            margin-top: 40px;
            width: 15%;
        }
    }
    .les-restaurants{
        a{
            width: 23%;
        }
    }
    
}