@media (min-width: 576px)
{
    .restaurants{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .heart + label {
        margin-right: -20px;
    }
    .les-restaurants{
        a{
            width: 45%;
            margin: 10px;
        }
    }
    .R-ensemble-sections{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .R-articles{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            
        }
        .R-titre{
            margin-top: 40px;
        }
    }
    
    
}
@media (min-width: 992px){
    
    .les-menus{
        display: flex;
        flex-direction: row;   
        justify-content: space-around; 
        width: 100%;
        .menu{
            width: 30%;
            span{
                position: relative;
                left: 10px;
            }
        }
    }
    .les-restaurants{
        a{
            width: 23%;
        }
    }
    
}