button{
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    border-radius: 25px;
    padding: 15px;
    border: none;
    color: white;
    box-shadow: 6px 6px 6px $couleur-fond-bordure;
    &:hover{
        filter: brightness(115%);
        box-shadow: 6px 5px 20px $couleur-secondaire;
    }
}
.R-commander{
    display: block;
    padding: 15px 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}