.Shrikhand{
    font-family: 'Shrikhand', 'sans serif';
}

body{
    font-family: 'Roboto', 'Comic sans ms';
    background-color: $couleur-fond;
    margin: 0;
}
a{
    text-decoration: none;
}
.les-restaurants{
    margin: 0px 10px;
}
.debut{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__lieu{
        flex-direction: row;
        width: 100%;
        box-shadow: 0px -1px 0px 2px $couleur-fond-lieu-bordure;
        background-color: $couleur-fond-lieu;
        input{
            background-color: inherit;
            border: none;
            font-weight: bolder;
            padding: 15px;
        }
    }
}
.restaurant{
    display : flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px $couleur-fond-bordure;
    overflow: hidden;
    text-align: start;
    margin-bottom: 20px;
    .restaurant-nouveau{
        position: relative;
        span{
            position: absolute;
            top: 15px;
            right: 20px;
            padding: 5px;
            color: darken($couleur-tertiaire, 40%);
            font-weight: bolder;
            background-color: $couleur-tertiaire;
        }
    }
    
    &__detail{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px 20px 25px 20px;
        h3, p{
            margin: 0;
        }
        &__plat{
            display: flex;
            flex-direction: column;
        }
    }
    img{
        height: 175px;
        width: 100%;
        object-fit: cover;
    }
}
.fonctionnement{
    background-color: white;
    padding-bottom: 30px;
    &--menu{
        margin: 0px 10px;
    }
}
.menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    span{
        background-color: $couleur-primaire;
        color: white;
        border-radius: 50%;
        padding: 1px 5px;
        position: absolute;
        left: 3px;
    }
    &__fond{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        box-shadow: 6px 6px 6px $couleur-fond-bordure;
        background-color: $couleur-fond;
        border-radius: 15px;
        width: 100%;
        .fas{
            margin: 0px 30px;
        }
        &:hover{
            background-color: lighten($couleur-primaire,30%);
            .icone-violet{
                color: $couleur-primaire;
            }
        }
        p{
            font-weight: bolder;
        }
    }
}
.bouton__coeur{
    .heart--rempli{
        display: none;
        background: linear-gradient($couleur-secondaire, $couleur-primaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heart{
        display: flex;
        color: black;
    }
    &:hover{
        cursor: pointer;
        .heart{
            display: none;
        }
        .heart--rempli{
            animation: coeur 3s linear;
            
        }
    }
}
.apres-spinner{
    position: absolute;
    top: 0px;
    width: 100%;
    animation: apres-spinner 0ms 3s both;
}
.spinner{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50%;
    left: -80px;
    top: -80px;
    position: relative;
    height: 80px;
    width: 80px;
    &--violet{
        @include spinner-boule($couleur-primaire, 0.1s, 0px, 40px);
    }
    &--rose{
        @include spinner-boule($couleur-secondaire, 0.2s, 60px, 60px);
    }
    &--vert{
        @include spinner-boule($couleur-tertiaire, 0.3s, 40px, 80px);
    }
    &--bleu{
        @include spinner-boule($couleur-bleu-clair, 0.4s, 20px, 60px);
    }
    &--vi{
        @include spinner-boule($couleur-primaire, 0.1s, 80px, 40px);
    }
    &--ro{
        @include spinner-boule($couleur-secondaire, 0.2s, 20px, 20px);
    }
    &--ve{
        @include spinner-boule($couleur-tertiaire, 0.3s, 40px, 0px);
    }
    &--bl{
        @include spinner-boule($couleur-bleu-clair, 0.4s, 60px, 20px);
    }
}