.Shrikhand{
    font-family: 'Shrikhand', 'sans serif';
}

body{
    font-family: 'Roboto', 'Comic sans ms';
    background-color: $couleur-fond;
    margin: 0;
}
a{
    text-decoration: none;
}
.les-restaurants{
    margin: 0px 10px;
}
.debut{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__lieu{
        flex-direction: row;
        width: 100%;
        box-shadow: 0px -1px 0px 2px $couleur-fond-lieu-bordure;
        background-color: $couleur-fond-lieu;
        input{
            background-color: inherit;
            border: none;
            font-weight: bolder;
            padding: 15px;
        }
    }
}
.restaurant{
    display : flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px $couleur-fond-bordure;
    overflow: hidden;
    text-align: start;
    margin-bottom: 20px;
    .restaurant-nouveau{
        position: relative;
        span{
            position: absolute;
            top: 15px;
            right: 20px;
            padding: 5px;
            color: darken($couleur-tertiaire, 40%);
            font-weight: bolder;
            background-color: $couleur-tertiaire;
        }
    }
    
    &__detail{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0px 20px 25px 20px;
        h3, p{
            margin: 0;
        }
        &__plat{
            display: flex;
            flex-direction: column;
        }
    }
    img{
        height: 175px;
        width: 100%;
        object-fit: cover;
    }
}
.fonctionnement{
    background-color: white;
    padding-bottom: 30px;
    &--menu{
        margin: 0px 10px;
    }
}
.menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    span{
        background-color: $couleur-primaire;
        color: white;
        border-radius: 50%;
        padding: 1px 5px;
        position: absolute;
        left: 3px;
    }
    &__fond{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        box-shadow: 6px 6px 6px $couleur-fond-bordure;
        background-color: $couleur-fond;
        border-radius: 15px;
        width: 100%;
        .fas{
            margin: 0px 30px;
        }
        &:hover{
            background-color: lighten($couleur-primaire,30%);
            .icone-violet{
                color: $couleur-primaire;
            }
        }
        p{
            font-weight: bolder;
        }
    }
}
/*
.fa-heart{
    font-weight: normal;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover{
        font-weight: bold;
        cursor: pointer;
    }
}
*/

.heart{
    display: none;
}
.heart + label::before {
    font-family: "Font Awesome 5 Free";
    content: '\f004';
    font-size: 2em;  
    margin-right: 20px;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
    opacity: 0.5;
    font-weight: normal;
    transition: all 5s;
  }
 .heart:checked + label::before {
    content: '\f004';
    font-weight: bold;
    transform: scale(1);
    opacity: 1;
    transition: all 3s;
  }
@keyframes load-spinner {
	0%{
        transform: translateX(0);
		transform: scale(0.3);
		filter: blur(3px);
	}
	25% {
		transform: scale(1);
		filter: blur(2px);
	}
	75% {
		filter: blur(1px);
		transform: scale(0.6);
	}
    100%{
        filter: blur(0px);
        transform: scale(1);
        transform: translateX(-9999px);
    }
}
@keyframes apres-spinner{
    0%{
        transform: translateX(-9999px);
    }
    100%{
        transform: translateX(0);
    }
}
.apres-spinner{
    position: absolute;
    top: 0px;
    width: 100%;
    animation: apres-spinner 0ms 4.5s both;
}
.spinner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    div{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 20px;
        filter: blur(3px);
        animation: load-spinner 5s both;
    }
    &--violet{
        background-color: $couleur-primaire;
    }
    &--rose{
        background-color: $couleur-secondaire;
    }
    &--vert{
        background-color: $couleur-tertiaire;
    }
    &--bleu{
        background-color: rgb(56, 193, 252);
    }
}