.R-haut{
    position: relative;
    .R-restaurant-nom{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        border-radius: 150px;
        background-color: $couleur-fond;
        position: absolute;
        top: 225px;
        width: 100%;
        h1{
            font-size: 30px;
            margin-left: 10px;
        }
        .fa-heart{
            margin-right: 20px;
        }
    }
}
.R-img-restaurant{
    height: 270px;
    width: 100%;
    object-fit: cover;
}
article{
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 6px $couleur-fond-bordure;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    h3, p{
        margin: 0px 0px 10px 10px;
    }
    .R-detail-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &--coupe{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--prix{
            font-weight: bolder;
            margin-right: 20px;
        }
    }
}
.R-titre{
    text-transform: uppercase;
    border-bottom: $couleur-tertiaire 3px solid;
    width: 15%;
    font-weight: normal;
    &--entrees{
        margin-top: 40px;
    }
}
.R-sections{
    margin: 0px 10px;
}
@keyframes apparition{
    0%      {opacity : 0;}
    100%    {opacity: 1;}
}
.R-sections{
    opacity: 0;
    animation: apparition 5s forwards 1s;
}