@keyframes apparition{
    0%      {opacity : 0;}
    100%    {opacity: 1;}
}

@keyframes anim-rotation{
    0%      {transform: rotate(90deg);}
    100%    {transform: rotate(360deg);}
}

@keyframes coeur{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes load-spinner {
	0%, 40%, 80%{
        transform:  translateX(0) scale(0.5) ;
        opacity: 0.5;
	}
    20%, 60%{
        transform:  scale(1) rotateZ(360deg);
        opacity: 1;
    }
    100%{
        transform: scale(0.5) translateX(-9999px);
        opacity: 1;
    }
}

@keyframes apres-spinner{
    0%{
        transform: translateX(-9999px);
    }
    100%{
        transform: translateX(0);
    }
}