$couleur-primaire : #9356DC;
$couleur-secondaire :  #FF79DA;
$couleur-tertiaire : #99E2D0;
$couleur-fond : #F6F6F6;
$couleur-fond-lieu : #EAEAEA;
$couleur-fond-lieu-bordure : #D3D3D3;
$couleur-fond-footer: #353535;
$couleur-fond-bordure: #E0E0E0;